{#forgot_password.html#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Forgot Password</h2>
    <form method="POST">
        <div class="input-group">
            <label for="email_or_phone">Enter your Email or Phone Number</label>
            <input type="text" name="email_or_phone" id="email_or_phone" required>
        </div>
        <button type="submit" class="sign">Send Reset Instructions</button>
    </form>
</div>
</body>
</html>
